                                   ASSIGNMENT 16

1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [4]:
#ANS
# Define the year of your birth
year_of_birth = 1980  # Replace 1980 with your birth year

# Create a list starting with the year of birth and going until the year of your fifth birthday
years_list = list(range(year_of_birth, year_of_birth + 6))

# Print the list
print(years_list)

[1980, 1981, 1982, 1983, 1984, 1985]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year

In [5]:
#ANS
# Define the year of your birth
year_of_birth = 1980  # Replace 1980 with your birth year

# Calculate the year of your third birthday
third_birthday_year = year_of_birth + 3

# Print the year of your third birthday
print(f"The year of your third birthday is {third_birthday_year}.")

The year of your third birthday is 1983.

3.In the years list, which year were you the oldest?

In [6]:
#ANS
# Define the year of your birth
year_of_birth = 1980  # Replace 1980 with your birth year

# Create a list starting with the year of birth and going until the year of your fifth birthday
years_list = list(range(year_of_birth, year_of_birth + 6))

# The last year in the list is when you are the oldest
year_of_being_oldest = years_list[-1]

# Print the year of being the oldest
print(f"The year in which you were the oldest is {year_of_being_oldest}.")

The year in which you were the oldest is 1985.

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella",
"salmonella".

In [7]:
#ANS
# Create a list called things with the specified strings
things = ["mozzarella", "cinderella", "salmonella"]

# Print the list
print(things)

['mozzarella', 'cinderella', 'salmonella']

5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [8]:
#ANS
# Create a list called things with the specified strings
things = ["mozzarella", "cinderella", "salmonella"]

# Capitalize the element that refers to a person ("cinderella")
person_index = things.index("cinderella")
things[person_index] = things[person_index].capitalize()

# Print the list to see if the element has changed
print(things)

['mozzarella', 'Cinderella', 'salmonella']

6. Make a surprise list with the elements "Groucho","Chico","Harpo" .

In [9]:
#ANS
# Create a list called surprise with the specified elements
surprise = ["Groucho", "Chico", "Harpo"]

# Print the list
print(surprise)

['Groucho', 'Chico', 'Harpo']

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [10]:
#ANS
# Create a list called surprise with the specified elements
surprise = ["Groucho", "Chico", "Harpo"]

# Get the last element of the list (index -1)
last_element = surprise[-1]

# Lowercase the last element, reverse it, and then capitalize it
modified_element = last_element.lower()[::-1].capitalize()

# Replace the last element in the list with the modified element
surprise[-1] = modified_element

# Print the list to see the changes
print(surprise)

['Groucho', 'Chico', 'Oprah']

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [11]:
#ANS
# Create an English-to-French dictionary called e2f
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

# Print the dictionary
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [12]:
#ANS
# Create an English-to-French dictionary called e2f
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

# Get the French word for "walrus" from the dictionary
french_word_for_walrus = e2f["walrus"]

# Print the French word for "walrus"
print(f"The French word for 'walrus' is '{french_word_for_walrus}'.")

The French word for 'walrus' is 'morse'.

10 Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [13]:
#ANS
life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

11  Print the top-level keys of life.

In [14]:
#ANS

life.keys()

dict_keys(['animals', 'plants', 'other'])

12 Print the keys for life['animals'].

In [15]:
#ANS

life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

13 Q. Print the values for life['animals']['cat']

In [17]:
#ANS

life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']